@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }